html,body,ul,ol,li,h1,h2,h3,h4,h5,h6,em,p{margin:0px;padding:0px;}
.box1 {
	/* width: 1519px;
	height: 100px; */
	position: relative;
}

.box1content {
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}

.box1left {
	background: url(img/mi-logo.png) no-repeat 50% 50% #ff6700;
	margin-left: 146.6px;
	width: 55px;
	height: 55px;
	opacity: 1;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 22px;
}

.box1title {
	float: left;
	width: 800px;
	height: 80px;
}

.box1title a {
	text-decoration: none;
	color: #333333;
	font-size: 16px;
	padding-right: 8px;
}
.box1title li {
	list-style: none;
	position: relative;
	float: left;
	left: 250px;
	top: 0px;
	line-height: 88px;
	z-index: 999999;
	padding-left: 10px;
}

.box1right a:hover {
	background: #FF6700;
	color: white;
}

.box1title a:hover {
	color: #FF6700;
}

.box1 #s2:hover {
	background: #FF6700;
}

.xiaomimenu {
	display: none;
	position: absolute;
	top: 90px;
	left: -395px;
	border-top: 1px solid #e0e0e0;
	width: 1519px;
	height: 230px;
	background: white;
	box-shadow: 0 2px 5px darkgrey;
	z-index: 99;
}

.xiaomimenu li {
	width: 120px;
	height: 201px;
	list-style: none;
	float: left;
	position: relative;
	padding-left: 45px;
	padding-right: 40px;
}

.xiaomimenu img {
	width: 160px;
	height: 110px;
	position: absolute;
	top: 35px;
	right: 90px;
	padding-right: 20px;
	margin-right: 20px;
}

.xiaomimenu .style {
	text-align: center;
	font-size: 12px;
	position: absolute;
	right: 190px;
	top: 120px;
}

.box1 .price {
	text-align: center;
	font-size: 12px;
	color: #FF6700;
	position: absolute;
	top: 140px;
	right: 190px;
}
.box1 p{
	white-space: nowrap;
}
.xinpin{
	text-align: center;
	color: #FF6700;
	width: 60px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #ff6700;
	font-size: 12px;
	display: block;
	position: relative;
	right: 80px;
	top: 1px;
	z-index: 3;
}

.noxin {
	border: 1px solid white;
	width: 60px;
	height: 20px;
	line-height: 20px;
}

.xiaomi:hover .xiaomimenu {
	display: block;
	z-index: 3;
}

.sp {
	height: 100px;
	width: 1px;
	border-left: 1px solid lightgrey;
	position: absolute;
	top: 45px;
	right: 100px;
}

.hongmimenu {
	display: none;
	position: absolute;
	top: 90px;
	left: -475px;
	border-top: 1px solid #e0e0e0;
	width: 1519px;
	height: 230px;
	background: white;
	box-shadow: 0 2px 5px darkgrey;
	z-index: 99;
}

.hongmimenu li {
	width: 120px;
	height: 201px;
	list-style: none;
	float: left;
	position: relative;
	padding-left: 45px;
	padding-right: 40px;
}

.hongmimenu img {
	width: 160px;
	height: 110px;
	position: absolute;
	top: 35px;
	right: 90px;
	padding-right: 40px;
}

.hongmimenu .style {
	font-size: 12px;
	position: absolute;
	right: 180px;
	top: 120px;
}

.hongmi:hover .hongmimenu {
	display: block;
	z-index: 3;
}

.dianshimenu {
	display: none;
	position: absolute;
	top: 90px;
	left: -525px;
	border-top: 1px solid #e0e0e0;
	width: 1519px;
	height: 230px;
	background: white;
	box-shadow: 0 2px 5px darkgrey;
	z-index: 99;
}

.dianshimenu li {
	width: 120px;
	height: 201px;
	list-style: none;
	float: left;
	position: relative;
	padding-left: 45px;
	padding-right: 40px;
}

.dianshimenu img {
	width: 160px;
	height: 110px;
	position: absolute;
	top: 35px;
	right: 90px;
	padding-right: 40px;
}

.dianshimenu .style {
	font-size: 12px;
	position: absolute;
	right: 160px;
	top: 120px;
}

.dianshi:hover .dianshimenu {
	display: block;
	z-index: 3;
}
.bijibenmenu {
	display: none;
	position: absolute;
	top: 90px;
	left: -575px;
	border-top: 1px solid #e0e0e0;
	width: 1519px;
	height: 230px;
	background: white;
	box-shadow: 0 2px 5px darkgrey;
	z-index: 99;
}

.bijibenmenu li {
	width: 120px;
	height: 201px;
	list-style: none;
	float: left;
	position: relative;
	padding-left: 45px;
	padding-right: 40px;
}

.bijibenmenu img {
	width: 160px;
	height: 110px;
	position: absolute;
	top: 35px;
	right: 90px;
	padding-right: 40px;
}

.bijibenmenu .style {
	font-size: 12px;
	position: absolute;
	right: 170px;
	top: 120px;
}

.bijiben:hover .bijibenmenu {
	display: block;
	z-index: 3;
}
.jiadianmenu {
	display: none;
	position: absolute;
	top: 90px;
	left: -640px;
	border-top: 1px solid #e0e0e0;
	width: 1519px;
	height: 230px;
	background: white;
	box-shadow: 0 2px 5px darkgrey;
	z-index: 99;
}

.jiadianmenu li {
	width: 120px;
	height: 201px;
	list-style: none;
	float: left;
	position: relative;
	padding-left: 45px;
	padding-right: 40px;
}

.jiadianmenu img {
	width: 160px;
	height: 110px;
	position: absolute;
	top: 35px;
	right: 90px;
	padding-right: 40px;
}

.jiadianmenu .style {
	font-size: 12px;
	position: absolute;
	right: 160px;
	top: 120px;
}

.jiadian:hover .jiadianmenu {
	display: block;
	z-index: 3;
}
.newpmenu {
	display: none;
	position: absolute;
	top: 90px;
	left: -695px;
	border-top: 1px solid #e0e0e0;
	width: 1519px;
	height: 230px;
	background: white;
	box-shadow: 0 2px 5px darkgrey;
	z-index: 99;
}

.newpmenu li {
	width: 120px;
	height: 201px;
	list-style: none;
	float: left;
	position: relative;
	padding-left: 45px;
	padding-right: 40px;
}

.newpmenu img {
	width: 160px;
	height: 110px;
	position: absolute;
	top: 35px;
	right: 90px;
	padding-right: 40px;
}

.newpmenu .style {
	font-size: 12px;
	position: absolute;
	right: 160px;
	top: 120px;
}

.newp:hover .newpmenu {
	display: block;
	z-index: 3;
}
.luyouqimenu {
	display: none;
	position: absolute;
	top: 90px;
	left: -745px;
	border-top: 1px solid #e0e0e0;
	width: 1519px;
	height: 230px;
	background: white;
	box-shadow: 0 2px 5px darkgrey;
	z-index: 99;
}

.luyouqimenu li {
	width: 120px;
	height: 201px;
	list-style: none;
	float: left;
	position: relative;
	padding-left: 45px;
	padding-right: 40px;
}

.luyouqimenu img {
	width: 160px;
	height: 110px;
	position: absolute;
	top: 35px;
	right: 90px;
	padding-right: 40px;
}

.luyouqimenu .style {
	font-size: 12px;
	position: absolute;
	right: 160px;
	top: 120px;
}

.luyouqi:hover .luyouqimenu {
	display: block;
	z-index: 3;
}
.zhinengmenu {
	display: none;
	position: absolute;
	top: 90px;
	left: -815px;
	border-top: 1px solid #e0e0e0;
	width: 1519px;
	height: 230px;
	background: white;
	box-shadow: 0 2px 5px darkgrey;
	z-index: 99;
}

.zhinengmenu li {
	width: 120px;
	height: 201px;
	list-style: none;
	float: left;
	position: relative;
	padding-left: 45px;
	padding-right: 40px;
}

.zhinengmenu img {
	width: 160px;
	height: 110px;
	position: absolute;
	top: 35px;
	right: 90px;
	padding-right: 40px;
}

.zhinengmenu .style {
	font-size: 12px;
	position: absolute;
	right: 160px;
	top: 120px;
}

.zhineng:hover .zhinengmenu {
	display: block;
	z-index: 3;
}

#s1 {
	border: 1px solid lightgrey;
	width: 245px;
	height: 50px;
	position: absolute;
	right: 198px;
	top: 22px;
}

#s2 {
	background: white;
	border: 1px solid lightgray;
	width: 52px;
	height: 50px;
	position: absolute;
	right: 146px;
	top: 22px;
}

.xm1 {
	font-size: 12px;
	text-decoration: none;
	background: #eee;
	position: absolute;
	right: 265px;
	top: 38px;
	padding: 1px;
}

.xm2 {
	font-size: 12px;
	text-decoration: none;
	background: #eee;
	position: absolute;
	right: 206px;
	top: 38px;
	padding: 1px;
}

.sousuo .iconfont {
	background: white;
	font-size: 20px;
	position: absolute;
	right: 162px;
	bottom: 42px;
	z-index: 1;
}

.sousuo:hover .iconfont {
	color: white;
	background: #FF6700;
}

.s1xiala{
	border: 1px solid lightgrey;
	background: white;
	width: 243px;
	display: none;
	position: absolute;
	top: 71px;
	right: 198px;
	z-index: 5;
}
.s1xiala a{
	text-decoration: none;
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
}
.s1xiala .rest{
	position: absolute;
	font-size: 12px;
	color: #b0b0b0;
	right: 12px;
}
.s1xiala a:hover{
	background: whitesmoke;
	color: #000000;
}
#s1:focus~.s1xiala{
	display: block;
	z-index: 5;	
}
#s1:focus{
	outline:none ;
	border-color:#FF6700 ;
}