*{padding:0; margin:0;}
.box2{
	position: relative;
}

.box2left{
	width: 234px;
	height: 420px;
    background: #333;
    background: rgba(0,0,0,0.6);
	position: absolute;
	left: 146px;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 3;
}
.box2left a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	position: relative;
    display: block;
    padding-left: 30px;
    height: 40px;
	top: 10px;
}
.box2left li{
	list-style-type:none;
	padding: 1px;

}
.among img{
	width: 1226px;
	height: 460px;
	position: absolute;
	left: 146px;
}
.box2left .iconfont{
	position: absolute;
	left: 200px;
	color: lightgrey;
	font-size: 18px;
}
.box2left li:hover{
	background: #FF6700;
}
.shoujika{
	display: none;
	background: white;
	border: 1px solid lightgrey;
	box-shadow: 2px 3px 5px lightgray;
	width: 990px;
	height: 458px;
	position: absolute;
	clear: both;
	left: 234px;
	top: 0;
}
.shoujika img{
	width: 40px;
	height: 40px;
}
.shoujika a{
	display: block;
    color: #333;
	font-size: 14px;
}
.shoujika li{
	width: 245px;
	height: 70px;
	float: left;
	padding-top: 5px;
}
.text{
	position: absolute;
	left: 90px;
	top: 12px;
}
.shoujika a:hover{
	color: #FF6700;
}
.shoujika li:hover{
	background: white;
}
.shoujik:hover .shoujika{
	display: block;
}
.dianshihe{
	display: none;
	background: white;
	border: 1px solid lightgrey;
	box-shadow: 2px 3px 5px lightgray;
	width: 990px;
	height: 458px;
	position: absolute;
	clear: both;
	left: 234px;
	top: 0;
}
.dianshihe img{
	width: 40px;
	height: 40px;
}
.dianshihe a{
	display: block;
    color: #333;
	font-size: 14px;
}
.dianshihe li{
	width: 245px;
	height: 70px;
	float: left;
	padding-top: 5px;
}
.dianshihe a:hover{
	color: #FF6700;
}
.dianshihe li:hover{
	background: white;
}
.dianshih:hover .dianshihe{
	display: block;
}
.chaxianban{
	display: none;
	background: white;
	border: 1px solid lightgrey;
	box-shadow: 2px 3px 5px lightgray;
	width: 990px;
	height: 458px;
	position: absolute;
	clear: both;
	left: 234px;
	top: 0;
}
.chaxianban img{
	width: 40px;
	height: 40px;
}
.chaxianban a{
	display: block;
    color: #333;
	font-size: 14px;
}
.chaxianban li{
	width: 245px;
	height: 70px;
	float: left;
	padding-top: 5px;
}
.chaxianban a:hover{
	color: #FF6700;
}
.chaxianban li:hover{
	background: white;
}
.chaxianb:hover .chaxianban{
	display: block;
}
.pingban{
	display: none;
	background: white;
	border: 1px solid lightgrey;
	box-shadow: 2px 3px 5px lightgray;
	width: 520px;
	height: 458px;
	position: absolute;
	clear: both;
	left: 234px;
	top: 0;
}
.pingban img{
	width: 40px;
	height: 40px;
}
.pingban a{
	display: block;
    color: #333;
	font-size: 14px;
}
.pingban li{
	width: 245px;
	height: 70px;
	float: left;
	padding-top: 5px;
}
.pingban a:hover{
	color: #FF6700;
}
.pingban li:hover{
	background: white;
}
.pingb:hover .pingban{
	display: block;
}
.chuxing{
	display: none;
	background: white;
	border: 1px solid lightgrey;
	box-shadow: 2px 3px 5px lightgray;
	width: 520px;
	height: 458px;
	position: absolute;
	clear: both;
	left: 234px;
	top: 0;
}
.chuxing img{
	width: 40px;
	height: 40px;
}
.chuxing a{
	display: block;
    color: #333;
	font-size: 14px;
}
.chuxing li{
	width: 245px;
	height: 70px;
	float: left;
	padding-top: 5px;
}
.chuxing a:hover{
	color: #FF6700;
}
.chuxing li:hover{
	background: white;
}
.chux:hover .chuxing{
	display: block;
}
.zhinenglu{
	display: none;
	background: white;
	border: 1px solid lightgrey;
	box-shadow: 2px 3px 5px lightgray;
	width: 520px;
	height: 458px;
	position: absolute;
	clear: both;
	left: 234px;
	top: 0;
}
.zhinenglu img{
	width: 40px;
	height: 40px;
}
.zhinenglu a{
	display: block;
    color: #333;
	font-size: 14px;
}
.zhinenglu li{
	width: 245px;
	height: 70px;
	float: left;
	padding-top: 5px;
}
.zhinenglu a:hover{
	color: #FF6700;
}
.zhinenglu li:hover{
	background: white;
}
.zhinengl:hover .zhinenglu{
	display: block;
}
.dianyuan{
	display: none;
	background: white;
	border: 1px solid lightgrey;
	box-shadow: 2px 3px 5px lightgray;
	width: 760px;
	height: 458px;
	position: absolute;
	clear: both;
	left: 234px;
	top: 0;
}
.dianyuan img{
	width: 40px;
	height: 40px;
}
.dianyuan a{
	display: block;
    color: #333;
	font-size: 14px;
}
.dianyuan li{
	width: 245px;
	height: 70px;
	float: left;
	padding-top: 5px;
}
.dianyuan a:hover{
	color: #FF6700;
}
.dianyuan li:hover{
	background: white;
}
.diany:hover .dianyuan{
	display: block;
}
.jiankang{
	display: none;
	background: white;
	border: 1px solid lightgrey;
	box-shadow: 2px 3px 5px lightgray;
	width: 990px;
	height: 458px;
	position: absolute;
	clear: both;
	left: 234px;
	top: 0;
}
.jiankang img{
	width: 40px;
	height: 40px;
}
.jiankang a{
	display: block;
    color: #333;
	font-size: 14px;
}
.jiankang li{
	width: 245px;
	height: 70px;
	float: left;
	padding-top: 5px;
}
.jiankang a:hover{
	color: #FF6700;
}
.jiankang li:hover{
	background: white;
}
.jiank:hover .jiankang{
	display: block;
}
.erji{
	display: none;
	background: white;
	border: 1px solid lightgrey;
	box-shadow: 2px 3px 5px lightgray;
	width: 520px;
	height: 458px;
	position: absolute;
	clear: both;
	left: 234px;
	top: 0;
}
.erji img{
	width: 40px;
	height: 40px;
}
.erji a{
	display: block;
    color: #333;
	font-size: 14px;
}
.erji li{
	width: 245px;
	height: 70px;
	float: left;
	padding-top: 5px;
}
.erji a:hover{
	color: #FF6700;
}
.erji li:hover{
	background: white;
}
.erj:hover .erji{
	display: block;
}
.shenghuo{
	display: none;
	background: white;
	border: 1px solid lightgrey;
	box-shadow: 2px 3px 5px lightgray;
	width: 760px;
	height: 458px;
	position: absolute;
	clear: both;
	left: 234px;
	top: 0;
}
.shenghuo img{
	width: 40px;
	height: 40px;
}
.shenghuo a{
	display: block;
    color: #333;
	font-size: 14px;
}
.shenghuo li{
	width: 245px;
	height: 70px;
	float: left;
	padding-top: 5px;
}
.shenghuo a:hover{
	color: #FF6700;
}
.shenghuo li:hover{
	background: white;
}
.shengh:hover .shenghuo{
	display: block;
}
.among .jz1{
	font-size: 40px;
	color: #D9D9D9;
	position: absolute;
	left: 380px;
	top: 200px;
}
.among .jy1{
	font-size: 40px;
	color: #D9D9D9;
	position: absolute;
	right: 150px;
	top: 200px;
}
.jz1:hover{
	background: grey;
	color: white;
	height: 60px;
	line-height: 60px;
}
.jy1:hover{
	background: grey;
	color: white;
	height: 60px;
	line-height: 60px;
}