.box3{
	width: 1226px;
	position: relative;
	top: 475px;
	left: 146px;
}
.box3left{
	width: 230px;
	height: 170px;
	background: #5f5750;
}
.box3left a{
	text-decoration: none;
	font-size: 12px;
	color: lightgrey;
}
.box3left li{
	list-style-type: none;
	width: 70px;
	height: 60px;
	float: left;
	padding-left: 6px;
	padding-top: 15px;
	padding-bottom:10px ;
	text-align: center;	
}
.box3left .iconfont{
	font-size: 24px;
	font-weight: 700;
}
.box3right img{
	width: 316px;
	height: 170px;
	margin-left: 8px;
}
.box3right{
	float: left;
	position: absolute;
	top: 0;
	left: 240px;
}
.box3bottom img{
	width: 1226px;
	height: 120px;
	position: absolute;
	z-index: 20;
	top:200px;
}
.box3left a:hover{
	color:white;
}
