.offside div {
	width: 60px;
	height: 43px;
	border: 1px solid whitesmoke;
	display: block;
	padding-bottom: 30px;
	padding-top: 20px;
	padding-left: 25px;
	margin-top: 30px;
}

.offside {
	height: 460px;
	position: fixed;
	top: 60px;
	right: 0;
	z-index: 2;
}

.offside a {
	color: #757575;
	font-size: 14px;
	text-decoration: none;
	display: block;
	position: absolute;
	top: 65px;
	right: 15px;
}

.App {
	background: url(img/手机app1.png) no-repeat center;
	background-size: 30px 30px;
	display: block;
	position: absolute;
	top: 20px;
	z-index: 99;
}

.App:hover {
	background: url(img/手机app2.png) no-repeat center;
	background-size: 30px 30px;
	display: block;
	position: absolute;
	top: 20px;
}

.App:hover a {
	color: #FF4500;
}
.erweima{
	border: 1px solid whitesmoke;
	display: none;
	background: white;
	width: 130px;
	height: 189px;
	position: absolute;
	top: 10px;
	right: 90px;
	z-index: 9999;
}
.erweima img{
	width: 100px;
	height: 100px;
	padding: 20px 15px ;
}
.erweima p{
	width: 83px;
	height: 41px;
	color: #757575;
    font-size: 14px;
    text-align: center;
	position: absolute;
	bottom:20px;
	left: 20px;
}
.App:hover .erweima{
	display: block;
	z-index: 999;
}

.person {
	background: url(img/个人1.png) no-repeat center;
	background-size: 30px 30px;
	display: block;
	position: absolute;
	top: 100px;
}

.person:hover {
	background: url(img/个人2.png) no-repeat center;
	background-size: 30px 30px;
	display: block;
	position: absolute;
}

.person:hover a {
	color: #FF4500;
}

.service {
	background: url(img/售后1.png) no-repeat center;
	background-size: 30px 30px;
	display: block;
	position: absolute;
	top: 180px;

}

.service:hover {
	background: url(img/售后2.png) no-repeat center;
	background-size: 30px 30px;
	display: block;
	position: absolute;
}

.service:hover a {
	color: #FF4500;
}

.touch {
	background: url(img/客服1.png) no-repeat center;
	background-size: 30px 30px;
	display: block;
	position: absolute;
	top: 260px;

}

.touch:hover {
	background: url(img/客服2.png) no-repeat center;
	background-size: 30px 30px;
	display: block;
	position: absolute;
}

.touch:hover a {
	color: #FF4500;
}

.shopc {
	background: url(img/车1.png) no-repeat center;
	background-size: 30px 30px;
	display: block;
	position: relative;
	top: 340px;
}

.shopc:hover {
	background: url(img/车2.png) no-repeat center;
	background-size: 30px 30px;
	display: block;
	position: relative;
	top: 340px;
}

.shopc:hover a {
	color: #FF4500;
}
.return {
	background: url(img/返回1.png) no-repeat center;
	background-size: 30px 30px;
	display: block;
	position: absolute;
	top: 420px;
}

.return:hover {
	background: url(img/返回2.png) no-repeat center;
	background-size: 30px 30px;
	display: block;
	position: absolute;
	top: 420px;
}

.return:hover a {
	color: #FF4500;
}
