html,body,ul,ol,li,h1,h2,h3,h4,h5,h6,em,p{margin:0px;padding:0px;}
.box4 {
	background: #F5F5F5;
	position: relative;
	top: 670px;
	height: 6620px;
}
.box4 li {
	list-style: none;
}
.box4 a {
	text-decoration: none;
	color: #333;
	font-size: 14px;
}
.title1 {
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
}
.box4-1 {
	width: 1226px;
	position: relative;
	top: 20px;
	left: 146px;
}
.box4-1-left img {
	height: 614px;
	position: absolute;
}
.new {
	background-color: #83c44e;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 80px;
	width: 64px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #fff;
}
.decrease{
	background: #e53935;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 80px;
	width: 64px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #fff;
}
.box4-1-right {
	width: 992px;
	/* height: 614px; */
}

.box4-1-right img {
	width: 160px;
	height: 160px;
	padding: 10px;
	position: absolute;
	top: 20px;
	left: 25px;
	
}
.box4-1-right .mingzi{
	position: absolute;
	bottom: 75px;
	left: 50px;
}
.box4-1-right li {
	width: 234px;
	height: 300px;
	float: right;
	background: #fff;
	position: relative;
	z-index: 5;
	margin: 5px 0 5px 10px;
	text-align: center;
	top: 0px;
	left: 230px;
}
.box4-1-right .introduce {
	font-size: 12px;
	color: #b0b0b0;
	position: absolute;
	bottom: 50px;
	left: 25px;

}
.box4-1-right .price {
	font-size: 14px;
	text-align: center;
	color: #ff6700;
	position: absolute;
	bottom: 10px;
	left: 80px;
}
.box4-1 li:hover{
	box-shadow:3px 3px 3px 3px lightgrey;
}
.box4-1-left:hover img{
	box-shadow:3px 3px 3px 3px lightgrey;
}
.box4-1-bottom img {
	height: 120px;
	position: absolute;
	top: 715px;
	right: 0px;
}
.chakan {
	text-decoration: none;
	font-size: 16px;
	line-height: 58px;
	color: #424242;
	position: absolute;
	right: 288px;
	top: 0px;
}
.chakan:hover {
	color: #FF6700;
}
.box4-2 {
	width: 1226px;
	margin: 0 auto;
	position: relative;
	top: 600px;
	left: 0px;
}
.title2 {
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	position: absolute;
	top: 220px;
}
.title2-aside li {
	list-style-type: none;
	font-size: 16px;
	position: relative;
	bottom: 385px;
	right: 0px;
	float: right;
	margin-left: 32px;
}
.title2-aside li:hover {
	color: #FF6700;
	border-bottom: 2px solid #FF6700;
}
.box4-2-left{
	width: 234px;
}
.box4-2-left img {
	width: 234px;
	height: 300px;
	position: relative;
	bottom: 345px;
	margin-bottom: 7px;
}
.box4-2-right {
	width: 994px;
	/* height: 614px; */
	position: relative;
	bottom: 370px;
	left: 230px;
}
.box4-2-right img {
	width: 160px;
	height: 160px;
	margin-left: 0px;
	margin-top: 15px;
	position: relative;
	bottom: -10px;
}
.box4-2-right li {
	width: 234px;
	height: 300px;
	float: right;
	background: #fff;
	position: relative;
	z-index: 5;
	margin: 5px 0 5px 10px;
	text-align: center;
	bottom: 600px;
}
.box4-2-right .introduce {
	font-size: 12px;
	color: #b0b0b0;
	padding: 6px;

}
.box4-2-right .price {
	font-size: 14px;
	text-align: center;
	color: #ff6700;
	padding: 10px;
}
.oldprice{
	font-size: 14px;
	color:lightgrey ;
	text-decoration: line-through;
}
.box4-2-bottom img {
	width: 1226px;
	height: 120px;
	position: absolute;
	top: 920px;
	left: 0px;
}
.box4-2-right li:hover{
	box-shadow:3px 3px 3px 3px lightgrey;
}
.box4-2-left img:hover{
	box-shadow:3px 3px 3px 3px lightgrey;
}
.box4-2-right img:hover{
	box-shadow:none;
}
.box4-2-bottom img:hover{
	box-shadow:none;
}
.box4-3 {
	width: 1226px;
	margin: 0 auto;
	position: relative;
	top: 190px;
	left: 0px;
}
.title3 {
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	position: absolute;
	top: 220px;
}
.title3-aside li {
	list-style-type: none;
	font-size: 16px;
	position: relative;
	bottom: 385px;
	right: 0px;
	float: right;
	margin-left: 32px;
}
.title3-aside li:hover {
	color: #FF6700;
	border-bottom: 2px solid #FF6700;
}
.box4-3-left{
	width: 234px;
}
.box4-3-left img {
	width: 234px;
	height: 300px;
	position: relative;
	bottom: 345px;
	margin-bottom: 7px;
}
.box4-3-right {
	width: 994px;
	/* height: 614px; */
	position: relative;
	bottom: 370px;
	left: 230px;
}
.box4-3-right img {
	width: 160px;
	height: 160px;
	margin-left: 0px;
	margin-top: 15px;
	position: relative;
	bottom: -10px;
}
.box4-3-right li {
	width: 234px;
	height: 300px;
	float: right;
	background: #fff;
	position: relative;
	z-index: 5;
	margin: 5px 0 5px 10px;
	text-align: center;
	bottom: 600px;
}
.box4-3-right .introduce {
	font-size: 12px;
	color: #b0b0b0;
	padding: 6px;

}
.box4-3-right .price {
	font-size: 14px;
	text-align: center;
	color: #ff6700;
	padding: 10px;
}
.box4-3-bottom img {
	width: 1226px;
	height: 120px;
	position: absolute;
	top: 920px;
	left: 0px;
}
.box4-3-right li:hover{
	box-shadow:3px 3px 3px 3px lightgrey;
}
.box4-3-left img:hover{
	box-shadow:3px 3px 3px 3px lightgrey;
}
.box4-3-right img:hover{
	box-shadow:none;
}
.box4-3-bottom img:hover{
	box-shadow:none;
}
.box4-4 {
	width: 1226px;
	margin: 0 auto;
	position: relative;
	bottom: 220px;
	left: 0px;
}
.title4 {
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	position: absolute;
	top: 220px;
}
.title4-aside li {
	list-style-type: none;
	font-size: 16px;
	position: relative;
	bottom: 385px;
	right: 0px;
	float: right;
	margin-left: 32px;
}
.title4-aside li:hover {
	color: #FF6700;
	border-bottom: 2px solid #FF6700;
}
.box4-4-left{
	width: 234px;
}
.box4-4-left img {
	width: 234px;
	height: 300px;
	position: relative;
	bottom: 345px;
	margin-bottom: 7px;
}
.box4-4-right {
	width: 994px;
	position: relative;
	bottom: 370px;
	left: 230px;
}
.box4-4-right img {
	width: 160px;
	height: 160px;
	margin-left: 0px;
	margin-top: 15px;
	position: relative;
	bottom: -10px;
}
.box4-4-right li {
	width: 234px;
	height: 300px;
	float: right;
	background: #fff;
	position: relative;
	z-index: 5;
	margin: 5px 0 5px 10px;
	text-align: center;
	bottom: 600px;
}
.box4-4-right .introduce {
	font-size: 12px;
	color: #b0b0b0;
	padding: 6px;
}
.num {
	font-size: 12px;
	color: #b0b0b0;
	padding: 6px;
}
.box4-4-right .price {
	font-size: 14px;
	text-align: center;
	color: #ff6700;
	padding: 10px;
}
.box4-4-bottom img {
	width: 1226px;
	height: 120px;
	position: absolute;
	top: 920px;
	left: 0px;
}
.box4-4-right li:hover{
	box-shadow:3px 3px 3px 3px lightgrey;
}
.box4-4-left img:hover{
	box-shadow:3px 3px 3px 3px lightgrey;
}
.box4-4-right img:hover{
	box-shadow:none;
}
.box4-4-bottom img:hover{
	box-shadow:none;
}
.box4-5{
	width: 1226px;
	margin: 0 auto;
	position: relative;
	bottom: 620px;
	left: 0px;
}
.title5 {
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	position: absolute;
	top: 220px;
}
.title5-aside li {
	list-style-type: none;
	font-size: 16px;
	position: relative;
	bottom: 385px;
	right: 0px;
	float: right;
	margin-left: 32px;
}
.title5-aside li:hover {
	color: #FF6700;
	border-bottom: 2px solid #FF6700;
}
.box4-5-left{
	width: 234px;
}
.box4-5-left img {
	width: 234px;
	height: 300px;
	position: relative;
	bottom: 345px;
	margin-bottom: 7px;
}
.box4-5-right {
	width: 994px;
	position: relative;
	bottom: 370px;
	left: 230px;
}
.box4-5-right img {
	width: 160px;
	height: 160px;
	margin-left: 0px;
	margin-top: 15px;
	position: relative;
	bottom: -10px;
}
.box4-5-right li {
	width: 234px;
	height: 300px;
	float: right;
	background: #fff;
	position: relative;
	z-index: 5;
	margin: 5px 0 5px 10px;
	text-align: center;
	bottom: 600px;
}
.box4-5-right .introduce {
	font-size: 12px;
	color: #b0b0b0;
	padding: 6px;
}
.box4-5-right .price {
	font-size: 14px;
	text-align: center;
	color: #ff6700;
	padding: 10px;
}
.box4-5-bottom img {
	width: 1226px;
	height: 120px;
	position: absolute;
	top: 920px;
	left: 0px;
}
.box4-5-right li:hover{
	box-shadow:3px 3px 3px 3px lightgrey;
}
.box4-5-left img:hover{
	box-shadow:3px 3px 3px 3px lightgrey;
}
.box4-5-right img:hover{
	box-shadow:none;
}
.box4-5-bottom img:hover{
	box-shadow:none;
}
.box4-6{
	width: 1226px;
	margin: 0 auto;
	position: relative;
	bottom: 1020px;
}
.title6 {
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	position: absolute;
	top: 220px;
}
.title6-aside li {
	list-style-type: none;
	font-size: 16px;
	position: relative;
	bottom: 385px;
	right: 0px;
	float: right;
	margin-left: 32px;
}
.title6-aside li:hover {
	color: #FF6700;
	border-bottom: 2px solid #FF6700;
}
.box4-6-left{
	width: 234px;
}
.box4-6-left img {
	width: 234px;
	height: 300px;
	position: relative;
	bottom: 345px;
	margin-bottom: 7px;
}
.box4-6-right {
	width: 994px;
	position: relative;
	bottom: 370px;
	left: 230px;
}
.box4-6-right img {
	width: 160px;
	height: 160px;
	margin-left: 0px;
	margin-top: 15px;
	position: relative;
	bottom: -10px;
}
.box4-6-right li {
	width: 234px;
	height: 300px;
	float: right;
	background: #fff;
	position: relative;
	z-index: 5;
	margin: 5px 0 5px 10px;
	text-align: center;
	bottom: 600px;
}
.box4-6-right .introduce {
	font-size: 12px;
	color: #b0b0b0;
	padding: 6px;
}
.box4-6-right .price {
	font-size: 14px;
	text-align: center;
	color: #ff6700;
	padding: 10px;
}
.box4-6-right li:hover{
	box-shadow:3px 3px 3px 3px lightgrey;
}
.box4-6-left img:hover{
	box-shadow:3px 3px 3px 3px lightgrey;
}
.box4-6-right img:hover{
	box-shadow:none;
}
.box4-7{
	width: 1226px;
	position: absolute;
	bottom:1370px ;
	left: 146px;
}
.box4-7 .price{
	font-size: 14px;
	color: #ff6700;
	text-align: center;
	position: absolute;
	bottom: 30px;
	left: 90px;
}
.box4-7 .comment{
	font-size: 14px;
	color: #757575;
	text-align: center;
	position: absolute;
	bottom: 60px;
	left: 75px;
}
.box4-7 img{
	width: 140px;
	height: 140px;
	position: relative;
	padding: 20px 0 5px 0 ;
}
.box4-7 a{
	text-align: center;
	font-size: 14px;
	line-height: 16px;
}
.box4-7 li{
	display: block;
	background: white;
	float: left;
	text-align: center;
	width: 235px;
	height: 280px;
	position: relative;
	margin: 0 10px 20px 0px;
}
.box4-7 .title7{
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
	position: absolute;
	bottom: 300px;
	left: 0px;
}
.box4-7 li:hover{
	box-shadow: 2px 2px 2px 2px lightgray;
}
.box4-8{
	width: 1226px;
	position: relative;
	margin: 0 auto;
	bottom: 410px;
}
.box4-8 .title8{
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
	position: absolute;
	bottom: 550px;
}
.box4-8 li{
	width: 296px;
	height: 415px;
	float: left;
	background: white;
	margin: 5px;
	position: relative;
	bottom: 1170px;
	display: block;
}
.box4-8 img{
	width: 296px;
	height: 220px;
	top: 0px;
	left: 0px;
}
.box4-8 a{
	display: block;
	font-size: 14px;
    line-height: 24px;
    font-weight: 400;
	text-align: center;
	position: relative;
}
.box4-8 .comment{
	width: 240px;
	height: 72px;
	position: absolute;
	top: 240px;
	left: 25px;
}
.from{
	position: absolute;
	height: 18px;
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
	bottom: 50px;
}
.project{
	position: absolute;
	white-space: nowrap;
    font-weight: 400;
	top: 140px;
	right: 20px;
}
 .box4-8 .price{
	display: inline;
    margin: 0;
    color: #ff6700;
 }
.gang{
	 color: lightgrey;
	 margin:0 10px;
 }
 .box4-8 li:hover{
	 box-shadow: 2px 2px 2px 2px lightgray;
 }
 .box4-9{
 	width: 1226px;
 	/* height: 420px; */
 	position: relative;
 	margin: 0 auto;
 	bottom: 1580px;
	clear: both;
 }
 .box4-9 .title9{
 	font-size: 22px;
     font-weight: 200;
     line-height: 58px;
     color: #333;
	 clear: both;
 }
 .box4-9 li{
	 width: 296px;
	 height: 419px;
	 float: left;
	 background: white;
	 margin-right: 10px;
	 position: relative;
 }
.box4-9 .title1{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
	position: absolute;
	top: 30px;
	left: 130px;
 }
 .box4-9 .title{
	 color: #333;
	 font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    white-space: nowrap;
	position: absolute;
	left: 40px;
	top: 80px;
 }
 .box4-9 .introduce{
	 width: 191px;
	 height: 33px;
	 color: #b0b0b0;
	 font-size: 12px;
	 text-align: center;
	 position: absolute;
	 left: 45px;
	 top: 130px;
	 
 }
 .box4-9 img{
	 width: 216px;
	 height: 154px;
	 position: absolute;
	 top: 190px;
	 left: 40px;
 }
 .box4-9 .title5{
	color: #333;
	font-size: 20px;
	 font-weight: 400;
	 line-height: 1.25;
	 position: absolute;
	 left: 70px;
	 top: 80px;
 }
 .box4-9 li:hover{
	 box-shadow: 2px 2px 2px 2px lightgray;
 }
 .box4-10{
	 width: 1226px;
	 position: relative;
	 bottom: 760px;
	 margin: 0 auto;
 }
 .title10{
	 font-size: 22px;
	  font-weight: 200;
	  line-height: 58px;
	  color: #333;
	  position: absolute;
	  bottom: 335px;
 }
 .box4-10 li{
	 width: 296px;
	 height: 285px;
	 background: white;
	 float: left;
	margin-right:10px ;
	position: relative;
	bottom: 750px;
 }
 .box4-10 img{
	 width: 296px;
	 height: 180px;
	 position: absolute;
 }
 .box4-10 .title{
	 font-size: 14px;
	 position: absolute;
	 top: 190px;
	text-align: center;
	margin-left:50px;
 }
 .box4-10 .introduce{
	 height: 18px;
    margin: 0;
    font-size: 12px;
    color: #b0b0b0;
	position: absolute;
	bottom:35px;
	margin-left: 40px;
 }
 .box4-10 li:hover{
	 box-shadow: 2px 2px 2px 2px lightgray;
 }
.pinglun{
	width: 234px;
	height: 73px;
	background: #FF6700;
	position: absolute;
	bottom: 0;
	display: none;
}
.pinglunnr{
	width: 174px;
	height: 35px;
	font-size: 12px;
	color: #FFF;
	display: block;
	position: absolute;
	top: 10px;
	left: 30px;
}
.who{
	width: 174px;
	height: 17px;
	font-size: 12px;
	color: rgba(255,255,255,0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	display: block;
	position: absolute;
	bottom: 10px;
	left: 30px;
}
.box4-2-right li:hover .pinglun{
	display: block;
}
.box4-3-right li:hover .pinglun{
	display: block;
}
.box4-4-right li:hover .pinglun{
	display: block;
}
.box4-5-right li:hover .pinglun{
	display: block;
}
.box4-6-right li:hover .pinglun{
	display: block;
}
.code{
	font-size: 25px;
	color: darkgrey;
	position: relative;
	top: 360px;
	left: 60px;
	padding: 0 10px;
}
.code:hover{
	font-size: 30px;
	color: #FF6700;
}
.jz{
	height: 50px;
	line-height: 50px;
	background: white;
	position: absolute;
	top: 240px;
	right: 0px;
}
.jy{
	height: 50px;
	line-height: 50px;
	background: white;
	position: absolute;
	top: 240px;
	left: 0px;
}
.jz:hover{
	background: #D9D9D9;
}
.jy:hover{
	background: #D9D9D9;
}
.bofang{
	font-size: 24px;
	position: absolute;
	color: white;
	top: 140px;
	z-index: 99;
}
.bofang:hover{
	color: #FF6700;
}