.box5{
	width: 1226px;
	background: white;
	position: relative;
	margin: 0 146px;
	clear: both;
	bottom: 760px;
}
.ending1{
	width: 1266px;
	height: 50px;
	border-bottom: 1px solid lightgrey;
}
.ending1 li{
	list-style-type: none;
	float: left;
	position: relative;
	padding: 0 45px;
}
.ending1 a{
	font-size: 16px;
    line-height: 25px;
	text-decoration: none;
    text-align: center;
	color: #616161;
}
.g{
	color: lightgray;
	padding-left: 38px;
}

.ending2 {
	float: left;
}

.ending2 li{
	list-style-type:none ;
	padding-bottom: 20px;
}
.lianxi{
	position: absolute;
	right: 20px;
	top: 110px;
}
.phone{
	margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.time{
	margin: 0 0 16px;
    font-size: 12px;
}
.lianx{
	text-decoration: none;
	border: 1px solid #FF6700;
    background: #fff;
    color: #ff6700;
	width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
	padding: 8px 20px;
}
.lianx:hover{
	color: white;
	background: #FF6700;
}
.ending2 ul{
	float: left;
	padding:0 45px;
}
.ending2 a{
	text-decoration: none;
		font-size: 12px;
	color: #757575;
}
.shu{
	height: 150px;
    width: 1px;
    border-left: 1px solid lightgray;
	position: absolute;
	right: 270px;
	top: 90px;
}
.end1{
	font-size: 14px;
	color: #424242;
	padding-top: 40px;
}
.box6{
	width: 1519px;
	height: 220px;
	background: #F5F5F5;
	position: relative;
	left: 0;
	/* top: -500px; */
	bottom: 500px;
}
.logo1{
	position: absolute;
	left: 146px;
	top: 30px;
}
.f1 a{
	color: #757575;
	font-size: 12px;
	padding: 0;
	margin: 0;
	/* line-height: 18px; */
}
.f1{
	position: absolute;
	float: left;
	top: 20px;
	left: 216px;
}
.f2 {
    line-height: 18px;
	display: block;
	font-size: 12px;
	color: #B0B0B0;
	float: left;
	position: absolute;
	left: 216px;
	top: 50px;
}
.f2 a{
	text-decoration: none;
	margin: 0;
    line-height: 18px;
	display: block;
	font-size: 12px;
	color: #B0B0B0;
	float: left;
}
.f3 img{
	float: left;
	width: auto;
    height: 28px;
    margin-left: 10px;
    margin-top: 5px;
}
.f4 p{
	clear: both;
    margin: 30px auto 0;
    width: 267px;
    height: 19px;
    background: url(img/end.png) no-repeat center 0;
	display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
	font-size: 12px;
	color: #333333;
	position: absolute;
	left: 460px;
	top: 110px;
}