*{padding: 0; margin: 0;}
/* html{
	height: 8000px;
}
body{
	height: 7000px;
} */
.head{
	background: #333;
/* 	width: 1519.2px;
	height: 40px; */
	/* width: 100%; */
}
.sep{
	color: #424242;
}
.head a{
	font-size: 12px;
	color: #B0B0B0;
	text-decoration: none;
	text-align: center;
	margin-right: 3px;
	display: inline-block;
}
.head a:hover{
	color: white;
}
.headbox{
	width: 1226px;
	height: 40px;
	margin: auto;
	padding: auto;
}
.headleft{
	float: left;
	line-height: 40px;
}
.headright{
	float: right;
	line-height: 40px;
}
.download{
	position: relative;
	display: inline-block;
}
.app img{
	width: 90px;
}
.app{
	background: white;
	width: 124px;
	position: absolute;
	top: 42px;
	left: -220px;
	text-align: center;
	box-shadow: 0 2px 5px #888;
	margin-left: 182px;
	display: none;
	z-index: 99;
}
.download:hover .app{
	display: block;
	z-index: 99;
}

.shop{
	width: 70px;
	height: 60px;
	position: relative;
	padding-left: 40px;
}
.shop a{
	display: block;
	position: absolute;
	left: 10px;
	top: 12px;
}

.shop{
	float: right;
	line-height: 40px;
	margin-top: -10px;
}

.shopcar{
	display: none;
	position: absolute;
	border: 1px solid white;
    width: 280px;
	height: 100px;
    color: #424242;
    background: white;
	font-size: 12px;
	text-align: center;
	 top: 50px;
	right: 0px;
	box-shadow:0 2px 5px darkgrey ;
	z-index: 99;
}
.shopcar p{
	position: relative;
	top: 30px;
}
.shop:hover .shopcar{
	display: block;
	z-index: 99;
}
.shop:hover{
	background: white;
	z-index: 99;		
}
.iconfont{
	font-size: 16px;
}
.shopc1:hover a{
	color: #FF6700;
}
.arrow{
				/* 不要内容,只要边框!!!!!,可以做出箭头 */
				border: 10px solid transparent;
				position: absolute;
				border-bottom-color: #fff;
				/* border-top-color: #000000; */
				/* border-left-color: chartreuse; */
				
				left: 0;
				right: 0;
				width: 0;
				margin: 0 auto;
				top: -20px;
}

